{% extends "layouts/base.html" %}
{% load static i18n %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user/editUser.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Extras</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Profile</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <div class="card-box text-center">
                    <img src="/{{ user.userprofileinfo.profile_image }}" style="height: 9.5rem;width: 9.5rem;"
                         id="profile_image_size" class="rounded-circle img-thumbnail"
                         alt="profile-image">

                    <h4 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
                    <p class="text-muted">{{ user.userprofileinfo.designation }}</p>

                    {% if user.is_active == True %}
                        <button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Active
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light">Suspended
                        </button>
                    {% endif %}
                    {% if user.is_superuser == True %}
                        <button type="button" class="btn btn-blue btn-xs waves-effect mb-2 waves-light">Superuser
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-xs waves-effect mb-2 waves-light">User</button>
                    {% endif %}

                    <div class="text-left mt-3">
                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-account-circle mr-1"></i> Personal
                            Info</h5>
                        <p class="text-black-50 mb-2 font-13"><strong>Full Name :</strong> <span
                                class="ml-2">{{ user.first_name }} {{ user.last_name }}</span></p>
                        <p class="text-black-50 mb-2 font-13"><strong>Username :</strong> <span
                                class="ml-2">{{ user.username }}</span></p>
                        <p class="text-black-50 mb-2 font-13"><strong>Designation :</strong> <span
                                class="ml-2">{{ user.userprofileinfo.designation }}</span></p>

                        <p class="text-black-50 mb-2 font-13"><strong>Mobile :</strong><span
                                class="ml-2">{{ user.userprofileinfo.phone_no }}</span></p>

                        <p class="text-black-50 mb-2 font-13"><strong>Email :</strong> <span
                                class="ml-2 ">{{ user.email }}</span>
                        </p>
                        <p class="text-black-50 mb-2 font-13"><strong>Last Login Time :</strong> <span
                                class="ml-2 ">{{ user.last_login }}</span>
                        </p>
                        <p class="text-black-50 mb-2 font-13"><strong>Last Login Ip :</strong> <span
                                class="ml-2 ">{{ user.date_joined }}</span>
                        </p>
                    </div>

                    <!-- end card-box -->


                </div> <!-- end col-->
            </div> <!-- end col-->

            <div class="col-lg-8 col-xl-8">
                <div class="card-box">
                    <ul class="nav nav-pills navtab-bg nav-justified">
                        <li class="nav-item">
                            <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                Edit Profile
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane show active" id="settings">
                            <form action="{% url 'user:submitEditUser' username=user.username %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label for="validationCustom01">First name</label>
                                            <input type="text" class="form-control"
                                                   placeholder="User First name"
                                                   name="firstName"
                                                   value="{{ user.first_name }}"
                                                   required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label>Last name</label>
                                            <input type="text" class="form-control"
                                                   placeholder="User Last name"
                                                   name="lastName"
                                                   value="{{ user.last_name }}"
                                                   required
                                            >
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label for="validationCustomUsername">Username</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                </div>
                                                <input type="text" class="form-control"
                                                       placeholder="User Username" name="userName"
                                                       aria-describedby="inputGroupPrepend"
                                                       value="{{ user.username }}"
                                                       required>
                                                <div class="invalid-feedback">
                                                    Please choose a username.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label>Email</label>
                                            <input type="text" class="form-control"
                                                   placeholder=" user email"
                                                   name="email"
                                                   value="{{ user.email }}"
                                                   required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label for="validationCustom01">Designation</label>
                                            <input type="text" class="form-control"
                                                   placeholder="User Designation"
                                                   name="designation"
                                                   value="{{ user.userprofileinfo.designation }}"
                                                   required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label for="validationCustom02">Phone no</label>
                                            <input type="text" class="form-control"
                                                   placeholder=" User Phone No"
                                                   name="phoneNo"
                                                   value="{{ user.userprofileinfo.phone_no }}"
                                                   required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label for="validationCustom01">Password</label>
                                            <input type="password" class="form-control"
                                                   placeholder="User Password"
                                                   name="password"
                                                   value="{{ user.password }}"
                                                   required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label for="validationCustom02">Confirm Password</label>
                                            <input type="password" class="form-control"
                                                   name="passwordConfirmation"
                                                   placeholder="Insert the password again"
                                                   value="{{ user.password }}"
                                                   required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-3">
                                            <label for="validationCustom01">upload user display picture in here</label>
                                            <input type="file" id="uploadFile" class="form-control"
                                                   name="displayImage"
                                            >
                                        </div>
                                    </div>

                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                        <!-- end settings content-->

                    </div> <!-- end tab-content -->
                </div> <!-- end card-box-->

            </div> <!-- end col -->
        </div>
        <!-- end row-->

    </div> <!-- container -->
{% endblock %}

