{% extends "layouts/base.html" %}
{% load static i18n %}
{% block extra_css %}
    <link href="{% static 'libs/clockpicker/bootstrap-clockpicker.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'libs/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'libs/summernote/summernote-bs4.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'user/client.css' %}">

{% endblock %}
{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Elements</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Create Client</h4>
                        <br>
                        <form action="{% url 'clients:submitClient' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Client Unique Code</label>
                                        <input type="text" id="simpleinput" name="uniqueCode" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Company Name</label>
                                        <input type="text" id="simpleinput" name="clientName" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Client Contact Person</label>
                                        <input type="text" id="simpleinput" name="clientContactName"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Client Contact Person Designation</label>
                                        <input type="text" id="simpleinput" name="clientContactDesignation"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="example-select">Gender</label>

                                        <select class="form-control" name="gender" id="example-select">
                                            <option value="">choose a field</option>
                                            {% for x,y in gender %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Contact Number</label>
                                        <input type="number" id="simpleinput" name="contactNumber"
                                               class="form-control">
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Email</label>
                                        <input type="email" id="simpleinput" name="email"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Website</label>
                                        <input type="text" id="simpleinput" name="website"
                                               class="form-control">
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Fax</label>
                                        <input type="number" id="simpleinput" name="fax"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Telephone</label>
                                        <input type="number" id="simpleinput" name="telephone"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="example-textarea">Address</label>
                                        <textarea class="form-control" id="example-textarea" name="address"
                                                  rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">City</label>
                                        <input type="text" id="simpleinput" name="city"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Zip</label>
                                        <input type="number" id="simpleinput" name="zip_code"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Country</label>
                                        <input type="text" id="simpleinput" name="country"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Products</label>
                                        <input type="text" id="simpleinput" name="products"
                                               class="form-control">
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Products Sagement</label>
                                        <input type="text" id="simpleinput" name="productsSagement"
                                               class="form-control">
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Business Maturity Rate</label>
                                        <input type="text" id="simpleinput" name="business_maturity_rate"
                                               class="form-control">
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="example-select">Business Ranking</label>
                                        <select class="form-control" name="business_ranking" id="example-select">
                                            {% for x,y in Company_ranking %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label>Meeting Follow up Date</label>
                                        <input type="text" id="datetime-datepicker" class="form-control"
                                               placeholder="follow up date & time" name="follow_up_date_time">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="simpleinput">Mode Of Payment</label>
                                        <input type="text" id="simpleinput" name="mode_of_payment"
                                               class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="example-select">Company Size</label>
                                        <select class="form-control" name="company_size" id="example-select">
                                            <option value="">choose a field</option>
                                            {% for x,y in company_size %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="example-select">Type</label>
                                        <select class="form-control" name="company_type" id="example-select">
                                            <option value="">choose a field</option>
                                            {% for x,y in company_type %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <label for="example-textarea">Note</label>
                                        <textarea class="form-control" id="example-textarea" name="Note"
                                                  rows="5"></textarea>
                                    </div>
                                </div> <!-- end card-body-->

                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- end row-->

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div>

{% endblock %}
{% block extra_javascript %}
    <script src="{% static 'libs/clockpicker/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <!-- Init js-->
    <script src="{% static 'js/pages/form-pickers.init.js' %}"></script>
    <!-- Summernote js -->
    <script src="{% static 'libs/summernote/summernote-bs4.min.js' %}"></script>

    <!-- Init js -->
    <script src="{% static 'js/pages/form-summernote.init.js' %}"></script>

{% endblock %}